[2017-11-08 17:11] orpheus92 opened #2 "Errors building opinionated-widget-cookiecutter"
I was trying to build custom widget with this repository. The python part ran without error. I had problem with the ts part.
Below is the errors I got.
src/plugin.ts(43,27): error TS2345: Argument of type '{ name: string; version: string; exports: typeof "/media/orpheus92/OS/Anaconda/reg_wid/src/widget...' is not assignable to parameter of type 'IWidgetRegistryData'.
  Types of property 'exports'

[2017-11-08 17:52] vidartf commented on #2
Could you give a little more detailed breakdown of what you did beforehand?
 - After using the cookiecutter, did you make any changes to the files?
 - What command gave this error?
 - Did you run any other commands before the command that gave the error?

[2017-11-08 17:57] orpheus92 commented on #2
So after I use the cookiecutter to generate the folder, I tried to do pip install -e .
It gave the error as I showed.

Then I tried to do install the python first with pip install .  It did not give me any error.
Then I ran npm install, which did not give errors.
Then I ran npm run build, which gave the same error as above.

Not sure what is wrong.

[2017-11-09 09:42] vidartf commented on #2
I can recreate it, I'll have a look at it.

[2017-11-09 10:25] vidartf commented on #2
There are some refactoring of things between widgets and jupyterlab that is causing this. I'll wait for the dust to settle there before debugging further (cc @blink1073, @jasongrout).

[2017-11-09 23:43] jasongrout commented on #2
Thanks for flagging us. Yes, we're currently changing our opinion about how widgets should be designed for jlab.

[2017-11-22 18:13] jasongrout opened #4 "Move to jupyter-widgets"
How do you feel about moving this to the jupyter-widgets org to be the official cookie cutter?

[2017-11-24 15:52] vidartf commented on #4
I probably want to keep my own copy, but if that means to transfer to jupyter and then fork back, I'm happy with that. That being said, I'd argue for also keeping a minimal cookiecutter in pure JS, with minimal tooling. It is a good learning resource, and is handy for those who want to integrate widget development into their own tooling setup.

[2017-11-27 17:28] vidartf commented on #2
Should have been fixed by #3, will close once I can confirm.

[2017-11-27 17:35] vidartf commented on #4
Transferred. Feel free to rename / update readme as appropriate.

[2017-11-27 17:35] #4 closed

[2017-11-28 04:47] jasongrout commented on #4
Thanks! I agree about also keeping a minimal js cookie cutter.

[2017-11-28 04:49] jasongrout commented on #4
@vidartf - Is it all right with you if we apply the standard Project Jupyter licensing and copyright statements to the files in this repo, at least the ones that make sense? (I don't think applying a license to the templates makes sense...)

[2017-11-28 09:57] vidartf commented on #4
Oh yeah, I didn't realize the root repo was missing a license. Standard BSD-3 etc. should be OK.

[2017-12-05 20:40] blink1073 opened #6 "Allow for extra webpack bundles"
Add handling of lazily loaded webpack bundles.
This requires defining a separate entry point for the notebook extension and adding public webpack config.  Example: https://github.com/matplotlib/jupyter-matplotlib/blob/0f1e870c1ee3583767759fa1134fff429767ac6a/js/src/nb_index.js#L8

[2017-12-12 16:15] vidartf commented on #2
As far as I can tell, this is now fixed. Feel free to reopen if you are still having issues.

[2017-12-12 16:15] #2 closed

[2018-01-26 14:35] astrofrog opened #15 "Extension in tar file produced with sdist doesn't auto-register with notebook"
For the rest of this issue, I made a new conda environment with:

[code]

I used the latest version of this cookiecutter, generated a package called ``ipytesting``, then did, without further modification:

[code]

I then went into the ``dist`` directory and did:

[code]

<details>
<pre>
$ pip install ipytesting-0.1.0.dev0.tar.gz --verbose
Processing ./ipytesting-0.1.0.dev0.tar.gz
  Running setup.p

[2018-04-05 20:03] astrofrog opened #16 "mkdirp doesn't work on Mac by default"
After some investigation for https://github.com/jupyter-widgets/widget-ts-cookiecutter/issues/15 I realized that my issue was that locally ``mkdirp`` doesn't exist on MacOSX but that error was hidden. I think the use of mkdirp in the following file:

https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/9f378b1885e50d85bfbe677f7398d00bf63f9203/%7B%7Bcookiecutter.github_project_name%7D%7D/

[2018-04-05 20:04] astrofrog commented on #15
Closing, I realized that this is due to https://github.com/jupyter-widgets/widget-ts-cookiecutter/issues/16

[2018-04-05 20:04] #15 closed

[2018-04-06 11:43] vidartf commented on #16
The `mkdirp` command is installed by the [`mkdirp` npm package](https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/9f378b1885e50d85bfbe677f7398d00bf63f9203/%7B%7Bcookiecutter.github_project_name%7D%7D/package.json#L62). Does this package not work on OSX?

[2018-04-06 14:26] astrofrog commented on #16
Should it get auto-installed while running e.g. ``python setup.py sdist``?

[2018-04-06 14:34] vidartf commented on #16
Yes.

[2018-04-06 14:40] vidartf commented on #16
The log you posted in #15 also indicates that it was installed: `├─┬ mkdirp@0.5.1`

[2018-04-06 14:42] vidartf commented on #16
Oh, that was from the install from the sdist. Would you mind pasting the log from `python setup.py sdist` ?

[2018-04-06 15:04] vidartf commented on #16
@astrofrog I just merged a PR #17 that fixes some problems. Would you mind running your test again of the latest master and see if that solves your problem?

[2018-05-10 16:22] annazhelt opened #20 "Displaying example widget in Jupyter lab"
I have followed all the steps in the README up to `npm test`. All the steps executed successfully.
I would like to display the widget in Jupyter lab so I have also run
[code]
However, when I try to run `jupyter lab` and display the example widget I get the following errors:

![screen shot 2018-05-10 at 9 17 03 am](https://user-images.githubusercontent.com/12523017/39880546-f7d96cce-5432-11e8-82b5-

[2018-05-14 11:01] vidartf commented on #20
I guess the outer README could need some more details. After the `pip install -e ".[test, examples]"` command, you will need to register your extensions with notebook/lab. For lab this is done by

[code]

You will only have to do this step when you are developing your extension. `pip install <extension name>` will only work after you have released/packaged your package, but that command will try t

[2018-05-14 11:09] vidartf commented on #20
I've updated the README in https://github.com/jupyter-widgets/widget-ts-cookiecutter/commit/725366c839d6540d4b3f61b2547211edd7d874b8.

[2018-05-14 17:38] annazhelt commented on #20
Thank you, that worked!

I had tried to run that command before, but the command would always hang. I looked more into it, and downgrading from Node 10 to Node 8 solved the issue.

[2018-05-14 17:38] #20 closed

[2018-07-18 16:14] vidartf opened #24 "model_module_version should match npm package"
The changes in #13, breaks the mechanism of jupyter widgets html manager, which assumes that the `model_module_version` matches the npm package name. It uses this for looking up the package on unpkg. As such, this should be reverted, and `model_module_version` cannot be used to track the serialization spec as #13 intended.

CC @jasongrout @astrofrog as you were involved in #13

[2018-07-20 17:47] eric-kimbrel opened #25 "installing from tar or egg."
Hello, thanks for this great cookiecutter template.  It was a huge help getting me started.  I am having issues getting an nbextension  (or labs extension) installed from a zip or egg file.

I have a couple of packages that i don't want to publish but i do want to be able to install on a few different environments.  Do you have any advice for packaging and installing without publishing the source?

[2018-08-01 11:12] vidartf commented on #25
Ideally, you should be able to distribute this as an sdist, or at the very least as a wheel. I have very little experience with eggs, so I don't think I can help you much there. What are the issues you are having?

[2018-08-28 08:25] frankier opened #28 "Add config for readthedocs?"
Would it be worth adding config for readthedocs? Here's how I did it for my widget library.

First I made readthedocs use conda so I could install a newer version of npm than is available otherwise. See: https://github.com/industrial-optimization-group/desdeo-vis/blob/master/readthedocs.yml and https://github.com/industrial-optimization-group/desdeo-vis/blob/master/docs/environment.yml

Then I add

[2018-08-28 10:59] vidartf commented on #28
There is already a docs + readthedocs.yml in the repo (https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/master/%7B%7Bcookiecutter.github_project_name%7D%7D/readthedocs.yml). For specific changes, feel free to open one or more PRs!

[2018-08-28 19:23] cornhundred opened #29 "custom widget working locally but not with NBViewer or as HTML file with embedded widget"
During the JupyterCon community sprint day @jasongrout helped me re-build my widget using the new widget-ts-cookiecutter. I'm able to get the widget (https://github.com/ismms-himc/clustergrammer_widget2) running locally in a notebook but it is not being rendered within a static HTML file or in NBViewer (I saved the notebook with the widget state).

Here is the NBViewer link: http://nbviewer.jupyte

[2018-08-29 08:56] jasongrout commented on #29
Looking at the cookie cutter, the widget-ts-cookiecutter should have another section in the webpack, like this: https://github.com/jupyter-widgets/widget-cookiecutter/blob/0aa620eaa2b4365ccfc755eb2a9262e2f6bed974/%7B%7Bcookiecutter.github_project_name%7D%7D/js/webpack.config.js#L45-L71
Also, the cookiecutter should have a files entry in the package.json like this: https://github.com/jupyter-widget

[2018-08-29 19:38] cornhundred commented on #29
I tried setting the `webpack.config` embed section entry to [`lib/widget.js`](https://github.com/ismms-himc/clustergrammer_widget2/blob/working/webpack.config.js#L65). But, NBViewer is still [failing](http://nbviewer.jupyter.org/github/ismms-himc/clustergrammer_widget2/blob/working/examples/introduction.ipynb) and it seems to be because unpkg does not have the distribution

The console is giving a

[2018-08-29 20:07] cornhundred commented on #29
I noticed that I get a 404 error for `dist`

https://unpkg.com/clustergrammer_widget2@0.4.3/dist/index.js

but the file is found for `lib`

https://unpkg.com/clustergrammer_widget2@0.4.3/lib/index.js

I will try out changing the `publicPath` in the [`webpack.config`](https://github.com/ismms-himc/clustergrammer_widget2/blob/master/webpack.config.js#L71)

[2018-09-03 20:38] cornhundred commented on #29
I got the widget embedding working on NBViewer ([link](http://nbviewer.jupyter.org/github/ismms-himc/clustergrammer_widget2/blob/master/examples/introduction.ipynb)) by fixing the [webpack.config](https://github.com/ismms-himc/clustergrammer_widget2/blob/master/webpack.config.js#L66) (I tried to make it similar to the webpack.config from the non TypeScript cookie-cutter). But I'm still getting an

[2018-09-03 21:33] cornhundred commented on #29
The "Embed Widgets" option works ([link](https://github.com/ismms-himc/clustergrammer_widget2/blob/master/examples/html_notebooks/embed_widget.html)) and I'm able to see the widget render. So I'll try and find out what the static HTML file is doing differently than the embedded HTML. I see that my [Introduction.html](https://github.com/ismms-himc/clustergrammer_widget2/blob/master/examples/html_no

[2018-09-04 03:37] cornhundred commented on #29
It looks like the issue I was having with embedding the widget into a static HTML was addressed in nbconvert [here](https://github.com/jupyter/nbconvert/issues/636) and solved with a recent [pull request](https://github.com/jupyter/nbconvert/pull/792). I cloned and pip installed the nbconvert repo and was able to generate an HTML file ([link](https://github.com/ismms-himc/clustergrammer_widget2/bl

[2018-09-04 03:37] #29 closed

[2018-09-04 09:03] vidartf commented on #28
Closing due to lack of feedback. I'll be happy to reopen if there are any further points to consider!

[2018-09-04 09:03] #28 closed

[2018-09-04 09:05] vidartf commented on #25
@eric-kimbrel Are you still having issues? If so, could you share some more details? If not, how did you resolve them?

[2018-09-04 09:06] vidartf commented on #6
Fixed in #19!

[2018-09-04 09:06] #6 closed

[2018-09-04 09:07] #16 closed

[2018-09-04 09:07] vidartf commented on #16
Closed due to lack of feedback. I'll be happy to reopen if someone can supply more details.

[2018-09-05 04:11] cornhundred commented on #29
FYI, I was able to get the widget running in Jupyter lab again by re-running the command `python setup.py sdist bdist_wheel` as described in the [readme](https://github.com/jupyter-widgets/widget-ts-cookiecutter)

[2018-09-05 12:30] vidartf commented on #25
Alright, closing for now. If anyone is able to supply more details on this issue, I'd be happy to reopen it in the future.

[2018-09-05 12:30] #25 closed

[2018-09-29 15:35] mroumanos opened #33 "webpack-cli error"
I'm seeing an error similar to https://github.com/webpack/webpack-cli/issues/607. I suggest updating version to 3+, as recommended in the issue.

[2018-10-05 09:33] vidartf commented on #33
I'm working on a full overhaul which will fix this as well. It's currently blocked on another issue. If that takes to long to fix I'll implement a workaround :)

[2018-10-10 12:32] #24 closed

[2018-10-10 12:32] #33 closed

[2018-10-22 16:17] cornhundred opened #37 "Twine upload error InvalidDistribution"
I'm getting the following error

`
InvalidDistribution: Unknown distribution format: 'index.js'
`

when I try and upload the bundled package using the command

`
twine upload dist/*
`

(following the instructions from https://github.com/jupyter-widgets/widget-ts-cookiecutter). I'm working with a minimally changed widget-ts-cookiecutter template project (that I've changed to version 0.2.0), which c

[2018-10-22 18:37] vidartf commented on #37
Thanks for this report. This is indeed an issue with this cookie cutter. The issue arises since both the JS code and the python code outputs to the "dist" folder in the root. One solution would be to move the JS code into a subdirectory, e.g "js", with corresponding changes to other instructions.

I originally tried to flatten the structure so both JS and python could be built from the root dir (i

[2018-10-22 18:41] cornhundred commented on #37
Thanks @vidartf for the quick response and feedback. I'll look into these changes, but do you think this error is actually resulting in any real problems? The package seems to be uploaded correctly to PyPI (https://pypi.org/project/clustergrammer2/)

[2018-10-23 06:45] vidartf commented on #37
As long as you are seeing both the wheel and sdist on PyPI, you should be ok. I would also double check that the python files have not snuck into the JS distro (check tar on npm).

[2018-10-23 16:19] cornhundred commented on #37
Thanks, I see two files on PYPI that I think correspond to the wheel and sdist (see below)

<img width="811" alt="screen shot 2018-10-23 at 11 52 32 am" src="https://user-images.githubusercontent.com/8352840/47373628-379b8400-d6ba-11e8-9a0f-b98d39fdee66.png">

I will work on checking the NPM package for python files.

BTW, I saw the same error when I was publishing the widget Clustergrammer_Widget

[2018-10-23 20:50] vidartf commented on #37
Seems ok for now. I'd still leave the issue open for a more permanent resolution.

[2018-10-23 21:30] cornhundred commented on #37
Will do, thanks for the help

[2018-10-29 16:54] cornhundred opened #39 "Jupyter Lab error: Uncaught (in promise) Module semver range is not registered as a widget"
Hi,

My widget, clustergrammer2 (built using this template), works in Jupyter notebook (see [mybinder link](https://mybinder.org/v2/gh/ismms-himc/clustergrammer2_test/master?filepath=notebooks%2Fintroduction_nb.ipynb)) but not Jupyter Lab. In Jupyter Lab I'm getting the following error:

[code]

when I try to run my pip-installed widget (the error happens in [this notebook](https://github.com/ismm

[2018-11-02 21:02] cornhundred commented on #39
Thanks @vidartf, I apparently had not built the labextension when I published to PYPI. I was able to fix the issue by building the labextension with this command (taken from the `package.json`):

`npm run build:labextension`

And publishing a new version of the clustergrammer2 widget (0.2.4) to

NPM:https://www.npmjs.com/package/clustergrammer2

and

PYPI: https://pypi.org/project/clustergrammer2

[2018-11-02 21:02] #39 closed

[2018-11-14 14:33] #37 closed

[2019-01-15 22:13] tlimpanont opened #43 "Example for running ExampleView"
I expect 'ExampleView' code to be rendered after I executed this code:

![image](https://user-images.githubusercontent.com/617876/51213298-0201e200-191b-11e9-939e-596dde308b04.png)

[code]

Can you help me  how to render a simple hello world in jupyter lab within the widget.ts file?

`this.el.textContent` suppose to render in the DOM whatever value is set right?

[2019-01-15 23:16] jasongrout commented on #43
You didn't actually display the widget. Try making one more cell with content `w` or `display(w)`.

[2019-01-16 09:01] tlimpanont commented on #43
@jasongrout WOW I totally missed the display method. It works by the way. But can you recommend me resources where I can find things about render / display TS related scripts?

[2019-02-23 10:44] akloster opened #44 "Clearer Documentation on Workflow"
I'd like to develop a javascript-heavy widget extension for the jupyter notebook. I managed to install the example widget and it seems to be working. However, I can't seem to make changes to the typescript source code take effect. I tested it using multiple console.log instructions, and also verified the source code loaded in the browser is not showing the changes.

I would appreciate some help ho

[2019-02-25 15:32] vidartf commented on #44
Good point. I think we could add a "Contributing" part, either as a separate .md file, or as a section in the README. If you are developing for classic notebook, there are two ways to update the source of a local developer install of the source:

1. Install the extension as a symlink to your development build dir: `jupyter nbextension install --sys-prefix --overwrite --symlink --py <python package

[2019-03-14 13:36] TK-21st opened #45 "pip install does not build TS"
See title.

After setting up cookie-cutter and running `pip install -e ".[test, examples]" .`, I could not find `node_module` folder and running `npm test` failed because it could not find `karma`.

I manually ran `npm install` and now `npm test works`.

[2019-03-14 13:37] TK-21st commented on #45
The error message given for `npm test` before running `npm install` is as follows:

[code]

[2019-03-14 14:42] vidartf commented on #45
If you are able to reproduce this, could you run pip install with the verbose flag (`-v`)? This should give a much more detailed log that can help us troubleshoot this.

[2019-03-14 17:09] TK-21st commented on #45
Reproduced this with `python=3.6` clean conda env and a clean cookiecutter project. See below for an excerpt of pip install trace related to NPM (the whole trace is VERY long):

[code]

[2019-03-14 18:33] vidartf commented on #45
Is this log for pip run with `-e`? If so, what is your pip version?

[2019-03-14 19:22] TK-21st commented on #45
I ran this: `pip install -v -e ".[test, examples]" `
pip version is `18.0`

[2019-03-15 13:29] vidartf commented on #45
So, the command that is in the readme incorrectly has a trailing full-stop. I think that's the one that screwed up your initial install.

[2019-03-15 14:44] TK-21st commented on #45
@vidartf  can confirm, issue resolved by removing trailing fullstop.

[2019-03-15 14:44] #45 closed

[2019-04-22 13:55] nmearl opened #48 "Unable to adapt to latest ipywidget example"
I'm trying to run this for the [latest ipywidgets example](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Custom.html) in which I make the following substitution to the `widget.ts` file:

[code]

But this results in an `Error displaying widget`, with the following in the console:

<img width="825" alt="Screen Shot 2019-04-22 at 9 53 26 AM" src="https://user-images.githubusercontent.

[2019-04-23 14:06] nmearl commented on #48
The issue was that the `options` argument needs to be passed into the constructor:

[code]

[2019-04-23 14:06] #48 closed

[2019-04-23 16:52] nmearl opened #49 "Refused to install vue single file components into staging lib"
Hello,

I'm trying to mount a Vuejs app in the render method of the custom `DOMWigetView`. This Vuejs app relies on `.vue` single file component files. While everything builds fine locally with `yarn run build` or `npm run build:lib && npm run build:nbextension`, when I tried to _install_ the jupyter extension with `jupyter labextension install .`, I get the following error

[code]

From what I un

[2019-04-23 19:00] maartenbreddels commented on #49
Dear Nicolas,

a very interesting widget (cc @astrofrog ). In case you are interested, together with @mariobuikhuizen and @oscar6echo we are building ipyvuetify (which wraps nearly all vuetify widgets), and we will most likely extract ipyvue from that with the best practices on how to build a Vue based widget. We'll open source that in a few weeks I expect, but that doesn't solve your problem thou

[2019-04-29 21:24] saraedum commented on #49
The lab extension is compiled into ES modules with tsc first and then processed by webpack (but not by the one whose `webpack.config` you see in your repo.) If I understand things correctly, the problem is that during that webpack step, there is no vue loader which would understand the `.vue` files. The TypeScript compiler does not care about this initially because it sees your vue shim.
I guess t

[2019-04-30 00:54] saraedum commented on #49
I managed to use an `App.vue` in the classic notebook and Jupyter Lab. You can have a look at https://github.com/flatsurf/flatsurf-widgets. I am not perfectly happy with it yet but it seems to work alright.
I also tried to get Hot Module Reloading to work for the widget but somehow the outer webpack appears to be interfering with the URLs generated by `webpack-dev-server`.

[2019-04-30 01:53] saraedum commented on #49
https://github.com/flatsurf/flatsurf-widgets/tree/webpack-hmr adds hot reloading for the classical notebook but it's quite a hack. If someone managed to get hot reloading to work properly, I would be curious for any hints in the jupyter context.

[2019-08-31 18:46] vidartf commented on #43
Closing as the original issue seems answered.

[2019-08-31 18:46] #43 closed

[2019-10-05 10:32] zerline opened #52 "Building extension.js"
Hi
This cookiecutter is really great, but full of magics!
Reading `webpack.conf.js`, I see `extension.ts` as input and `index.js` as output. Therefore no `extension.js`.
Could somebody explain me how `extension.js` gets built?

[2019-10-05 23:58] vidartf commented on #52
extension.js is not built, but is already in place here: https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/master/%7B%7Bcookiecutter.github_project_name%7D%7D/%7B%7Bcookiecutter.python_package_name%7D%7D/nbextension/static/extension.js

This maps the output from webpack (index) to the module name when loaded as classic notebook extension.

[2019-10-06 08:58] zerline commented on #52
oh yeah .. thx @vidartf

[2019-10-06 08:58] #52 closed

[2019-10-12 14:59] frankgerhardt opened #53 "npm test does not work"
[code]
I have no idea. It does not look like "This should again, only give TODO errors (Expected 'Value' to equal 'Expected value')"

[2019-10-12 15:01] frankgerhardt opened #54 "Python packages with dash in the name gets generated"
The name of my widget is `my-widget`.

For the Python code I got a package name genrated with that dash in it and nothing worked. That's not legal Python syntax. I'm so sad.

[2019-10-14 11:53] vidartf commented on #54
Thanks for sharing your pain. Any suggestions for how to resolve this? 😃

[2019-10-14 16:16] frankgerhardt commented on #54
I use `mywidget` as name.

[2019-10-15 15:22] vidartf commented on #54
Should this issue be closed then, or is there anything you would want to be changed with the cookiecutter?

[2019-10-15 20:16] frankgerhardt commented on #54
The cookiecutter should generate names with `-` for Javascript and with `_` for Python.
Or at least print an error if a `-` is used and not supported.

[2019-10-16 11:54] vidartf commented on #54
This should be possible by using some Jinja2 template logic / filters. Jinja2 is the templating engine that cookiecutter uses. If anyone wants to take a look at this, that would be very welcome. Until then, these rules will have to be followed manually by the user.

[2019-10-17 11:11] deeplook commented on #53
Running into the same thing... The tests won't execute, but the code will install. ;)

[2019-10-17 12:07] vidartf commented on #53
I fixed this recently somewhere else. I think these are the needed steps (might be more though):
- Add this dev dep to JS package: `"karma-typescript-es6-transform": "^4.1.1",`
- Add these options to the karma config:
[code]

[2019-10-17 12:08] vidartf commented on #53
If someone could test if those are sufficient, and then do a PR if that's the case, that would be very helpful!

[2020-03-02 09:28] dou-du opened #59 "Issue with the newest Jupyterlab 2.0.0"
This cookiecutter seems not working with the newest JupyterLab 2.0.0. For instance, the JupyterLab has changed the library @phosphor/widgets to @lumino/widgets. I try to fix these problems. However, it is still not working. Could you upgrade it to fit with the newest JupyterLab ? Thanks.

[2020-03-12 21:24] nanchenchen opened #61 "Adding a LICENSE file at the root level"
Hello,

I am an engineer at Google interested in using your project. If you are comfortable with permitting this, could you please add an open source license (https://opensource.org/licenses) to your project directory? (Not just inside the {{}} project).

Thank you!

[2020-03-12 21:27] jasongrout commented on #61
+1 from me, though perhaps for things like this (where we are generating a set of files that are expressly supposed to be modified), a more permissive license is called for?

[2020-03-12 21:28] jasongrout commented on #61
CC @vidartf @blink1073 @cornhundred @jtpio @martinRenou @astrofrog @maartenbreddels @JoaoFelipe (who are listed as contributors) for their thoughts.

[2020-03-12 21:29] jasongrout commented on #61
Is a BSD license sufficient for your needs, @nanchenchen?

[2020-03-12 21:30] nanchenchen commented on #61
Yes! That works perfectly.

[2020-03-12 21:31] maartenbreddels commented on #61
Sounds like a good idea, +1 from me

(from mobile phone)

On Thu, 12 Mar 2020, 22:30 Nan-Chen Chen, <notifications@github.com> wrote:

[2020-03-13 05:23] nanchenchen commented on #61
Thank you :)! Can anyone help me add one LICENSE file to the root level of this repo?
Really appreciate your help :D

[2020-03-14 21:43] yifanwu opened #62 "how to specify javascript code needed"
Hi folks, in basic js based extensions, the developer could specify the files required, like the following

https://github.com/ipython-contrib/jupyter_contrib_nbextensions/blob/master/src/jupyter_contrib_nbextensions/nbextensions/codefolding/main.js#L13-L23

What is the equivalent in this repo? Where could it be specified? I need  the `'codemirror/addon/fold/foldcode',` and I don't know where to s

[2020-03-14 22:04] yifanwu commented on #62
Nvm figured it out!

[2020-03-16 13:02] vidartf commented on #61
BSD-3 will work for me, but TBH it could probably be CC-0 :)

[2020-03-16 18:29] jasongrout commented on #61
ping @vidartf @blink1073 @cornhundred @jtpio @martinRenou @astrofrog @JoaoFelipe again for comments on adding a license file for clarification.

[2020-03-16 19:42] jtpio commented on #61
BSD-3 sounds good to me too.

[2020-03-17 13:47] blink1073 commented on #61
👍 for BSD-3

[2020-03-17 13:49] martinRenou commented on #61
:+1:

[2020-03-19 18:46] TermeHansen commented on #59
any news on this issue?
I have also upgraded jupyterlab to 2.0.x, but have problem to get my widget to work.

How do you debug those package name change fails? All I see is:

[2020-03-19 20:23] jasongrout commented on #59
See #60 for the changes needed.

[2020-03-20 14:34] TermeHansen commented on #59
Great, thanks!  Now my widget also works in JL 2.0...

[2020-03-23 20:53] nanchenchen commented on #61
Hello! Just wanted to follow up and see if there is anything I need to do on my side. Thanks for your help. :)

[2020-03-24 18:35] dou-du commented on #59
Thanks a lot. It is working now for JupyterLab 2.0.

[2020-03-24 18:35] #59 closed

[2020-03-25 05:57] jasongrout commented on #61
Thanks for following up. I put in a PR, and someone else should merge it. @vidartf?

[2020-03-25 12:13] #61 closed

[2020-03-25 15:07] nanchenchen commented on #61
Thank you so much! Super appreciate all your help :)!!!

On Wed, Mar 25, 2020, 5:14 AM Vidar Tonaas Fauske <notifications@github.com>
wrote:

[2020-04-24 06:31] gutama opened #64 "Failed npm test"
Hi,

I made a new project

pip install -e ".[test, examples]"    --> ok
py.test   --> ok

I change the KernelMessage.ICommMsg into ICommMsgMsg in utils spec.ts

    _process_msg(msg: services.KernelMessage.ICommMsgMsg) {
        if (this._on_msg) {
            return this._on_msg(msg);

but npm test still failed

(base) D:\repogit\myproj\gajupy>npm test

START:
24 04 2020 13:20:25.824:INFO [compil

[2020-04-28 07:59] gutama commented on #64
is something in the configurations not ok?

below is the log file:

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'D:\\nodejs\\node.exe',
1 verbose cli   'D:\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'test:firefox'
1 verbose cli ]
2 info using npm@6.14.4
3 info using node@v12.16.2
4 verbose run-script [ 'pretest:firefox', 'test:firef

[2020-04-29 07:50] wlievens opened #65 "Not sure how to run Python tests"
I tried the following on a newly generated project:

[code]

But got this error:
[code]

I'm fairly new to the wider Python ecosystem so I may just not understand how pytest or whatever is used here is supposed to work?

[2020-04-29 08:02] martinRenou commented on #65
pytest needs a test file or a directory containing tests as argument.

[code]

[2020-04-29 08:04] wlievens commented on #65
The `/tests` directory that the cookiecutter generates is for the frontend (typescript) tests. There is a tests directory in the python module subdirectory though, but if I have to supply that, why is it not documented in the readme?

[2020-04-29 08:06] wlievens commented on #65
When I run `py.test gp_widgets/tests` (my project & module name is **gp_widgets**) I get the following error:
[code]
This is despite ipywidgets being installed globally (with pip) and the widget working fine in Jupyter Lab.

[2020-04-29 08:11] martinRenou commented on #65
Please make sure the environment where your pytest is installed contained ipywidgets.

[2020-04-29 08:12] martinRenou commented on #65
Closing as it is not an issue concerning the cookiecutter itself

[2020-04-29 08:12] #65 closed

[2020-04-29 08:20] wlievens commented on #65
I understand you closing the issue as it's not related to the cookiecutter, but can at least the README.md be adapted to show correct instructions for running the tests?

[2020-04-29 08:27] martinRenou commented on #65
Which pytest version do you have? I actually don't see it failing when running `py.test` only. It runs the tests it founds, or it says it did not find tests, but it does not fail.

[2020-04-29 08:30] wlievens commented on #65
It seems to work for me too now, apparently "py" and "python" refer to different installations/environments for me. Like I said, I'm fairly new to the ecosystem (less than year) and I find everything about Python (except the language itself) to be incredibly frustrating.

[2020-04-29 08:34] wlievens commented on #65
Sorry to keep disturbing you, but another mildly related issue: it seems like pytest also runs the examples notebooks somehow? Is that part of the test strategy as a sort of integration test? My test fails because the reference and test output don't match, am I supposed to write the output of the notebook somewhere as test reference?

[2020-04-29 08:34] martinRenou commented on #65
I suspect this is a similar reason for not having ipywidgets installed when running the tests.
I would highly recommend using `conda` or other ways to create virtual environments. And I would recommend **never** installing anything on the user location, so never use the Python that is installed by default on your system. If you follow those rules correctly the frustration should disappear.

[2020-04-29 08:36] martinRenou commented on #65
This is disturbing. I would not expect pytest to run a Notebook without having installed a pytest plugin for that.

[2020-04-29 08:39] wlievens commented on #65
For other projects I use **pipenv** to manage dependencies and that works reasonably well, though it brings its own share of frustrations compared to a more mature solution like Maven in the Java ecosystem. I haven't dared integrate pipenv into this widget project just yet, one problem at a time :-)

Right now I don't mind "polluting" my user environment with a few global installs since eventually

[2020-04-29 08:46] martinRenou commented on #65
I don't know what that happens... I'd check if pytest-notebook is installed https://pypi.org/project/pytest-notebook. Or I would just ignore this issue and explicitly run `pytest gp_widgets\tests\*`.

Let me suggest looking at Miniconda https://docs.conda.io/en/latest/miniconda.html which makes a very simple conda installation, without anaconda. I wouldn't know how to make it work on Windows mysel

[2020-04-29 08:49] wlievens commented on #65
I'm not necessarily interested in having a bundled environment, all I care about is reproducible builds which are pinned to precise versions. That's why I use Pipenv, it comes with a locking system and virtual environment model. In my view it's a very poor solution compared to how mature ecosystems handle it but at least it covers the basic principles.

[2020-04-29 12:30] wlievens commented on #65
BTW I found why the notebooks were getting executed: the cookiecutter includes the **nbval** library which does exactly that.

https://pypi.org/project/nbval/

[2020-04-29 12:40] martinRenou commented on #65
Thanks for getting back with the reason why it happens. Do you think the Notebook should actually be fixed on the repo then? You said one Notebook is failing?

[2020-04-29 12:43] wlievens commented on #65
The notebook I made was failing this test. I haven't figured out why yet. Whether or not notebooks should be part of this notebook is up to you, I don't have a string opinion either way. It could work as a test case.

[2020-04-29 13:19] martinRenou commented on #65
Use `conda`, it uses a solver to solve the environment and tries to find a suitable versions combination ;)

If it does not find a suitable solution, it will tell you.

[2020-04-29 13:40] wlievens commented on #65
But how does conda do reproducible builds?

[2020-04-29 14:57] martinRenou commented on #65
Maybe look at this: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#building-identical-conda-environments It might be what you want

[2020-04-29 16:09] wlievens commented on #65
Thanks, maybe it is and maybe I can ditch the shitty pipenv system if this is better.

[2020-05-03 02:27] dou-du opened #66 "jupyter_sphinx.embed_widgets was removed"
The embed_widgets was removed from the jupyter_sphinx package for several months. Could someone update it in the template ? Thanks.

[2020-05-05 16:48] vidartf commented on #66
You can be that someone if you want :)

[2020-05-31 00:04] ianhi opened #68 "plugin does not activate in jupyterlab 2"
Following the installation instructions results in the example widget not rendering on jupyterlab 2.1.2
(I'm using 2.1.2 because jupyter lab --watch is broken on 2.1.3)

## Steps to reproduce
1. Install
[code]
2. open examples > Introduction.ipynb
3. Add a cell to output `w`
4. run all cells
See errors in browser console + widget does not render:

![image](https://user-images.githubusercontent.com

[2020-06-02 16:59] vidartf commented on #68
Yes, the widget manager is required (`jupyter labextension install @jupyter-widgets/jupyterlab-manager`). If you have any suggestions for additions to the readme / comments that would make this apparent, a PR would be very welcome!

[2020-06-02 19:16] ianhi commented on #68
Is there any chance of jupyterlab-manager being included by default in jupyterlab? Alternatively is there anything preventing inclusion of the `upyterlab-manager` as a dependency in package.json?

[2020-06-02 19:27] ianhi commented on #68
:+1: Until I get to that below is all the changes I had to make in case any googlers end up here:

I had to make two additional changes beyond installing jupyterlab-manager
**1.**
[code]

**2.**
[code]
with those changes these commands should work:
[code]

[2020-06-02 20:06] ianhi commented on #68
Also this PR: https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/60 seems to solve the extra issues I ran into

[2020-06-03 07:05] #68 closed

[2020-06-03 07:07] martinRenou commented on #66
Fixed

[2020-06-03 07:07] #66 closed

[2020-06-03 07:08] martinRenou commented on #64
Fixed

[2020-06-03 07:08] #64 closed

[2020-06-03 20:41] ianhi commented on #53
I think this was fixed in #69

[2020-06-04 06:51] #53 closed

[2020-06-17 19:59] cabreraalex opened #73 "README clarification for development"
I'm just getting started playing around with a widget, but am unsure what I need to run as I iterate.

Do I simply run `pip install` every time I make changes? Could there be a section in the README suggesting the best dev process?

[2020-06-18 08:51] martinRenou commented on #73
If you do `pip install -e .` (`-e` means editable) then you only need to re-import the Python package in the Notebook to fetch the latest development version, no need to reinstall it manually.

[2020-07-03 13:55] ianhi commented on #73
See also https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/72

[2020-07-03 14:05] cabreraalex commented on #73
Awesome, #72 was just what I was looking for, thanks!

[2020-07-03 14:05] #73 closed

[2020-07-03 14:18] martinRenou commented on #73
Thanks a lot @ianhi

[2020-07-03 14:22] #54 closed

[2020-07-09 19:18] ianhi opened #74 "add "strictPropertyInitialization": false to tsconfig"
Given that with backbonejs you're meant to use initialize over the constructor this is a handy change. For example these lines in ipycanvas need require that setting.

https://github.com/martinRenou/ipycanvas/blob/09ca4e04c3c43bca5df46975cad28ada3d50750e/src/widget.ts#L66-L67

I was trying to do a similar thing and spent a while being mystified - so for someone making widgets without much typescri

[2020-07-09 19:37] martinRenou commented on #74
I am a bit biased, but I am in favor for this :+1:. It's indeed very nice to be able to initialize attributes in the `initialize` method instead of overwriting the constructor.

[2020-07-10 10:50] vidartf commented on #74
Closed via #75. On a side note, you will also need to be careful about the interaction between "class level initializers" (which @jasongrout prefer) vs initializing in `initialize`. I was just today working on a bug with code like this:

[code]

In the above code, what will `sub.my_attribute` be? Answer: `[]`, since the base level initializers will be added to the end of `Base`'s constructor, whic

[2020-07-10 10:50] #74 closed

[2020-07-10 12:05] martinRenou commented on #74
Good to know

[2020-07-11 15:22] ianhi opened #76 "Add explanation of naming convention"
My understanding of the the widget naming convention is that the names are like so:
Python: `ipy<something>`
typescript: `jupyter-<something>`

With the idea being that the typescript part will be kernel-langauge agnostic and so shouldn't have an `ipy` in the name. i.e. if someone wanted make a cpp version of the widget they would only have to write `cpp<something>` they could then hook up to `jup

[2020-07-11 15:24] ianhi commented on #62
I think ipycytoscape is a good example for those types of imports.

The imports are here:
https://github.com/QuantStack/ipycytoscape/blob/61c4679b07bb820b88a7ede1bdc7c678d9c141b9/src/widget.ts#L20-L28
and the packages are specified in package.json here
https://github.com/QuantStack/ipycytoscape/blob/61c4679b07bb820b88a7ede1bdc7c678d9c141b9/package.json#L58-L62

[2020-07-11 15:28] ianhi opened #77 "Add explanation of generated files"
Similar to the widget-cookiecutter https://github.com/jupyter-widgets/widget-cookiecutter#files-generated-by-cookiecutter

[2020-07-11 15:34] ianhi commented on #77
Especially for the typescript files as these are likely extremely mystifying coming from scientific python background (at least I found them to be)

[2020-07-17 22:56] ianhi opened #80 "Add binder setup to the cookiecutter"
It would be nice to had a binder badge in the readme and approriate postBuild file premade.

[2020-07-20 09:49] jtpio commented on #80
Sounds good :+1:

For reference this was added to the JupyterLab extension cookiecutter as opt-in here: https://github.com/jupyterlab/extension-cookiecutter-ts/pull/64

[2020-07-21 19:19] ianhi opened #81 "remove pushd and popd from travis"
In https://github.com/QuantStack/ipycytoscape/pull/124 (relevant [commit](https://github.com/QuantStack/ipycytoscape/pull/124/commits/0c2370a40f71f535f660793421a337b96c40291d)) I found that these lines https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/0e4a4cdbcdebe713b2b9a24b80ec601453c56df5/%7B%7Bcookiecutter.github_project_name%7D%7D/.travis.yml#L58-L60
prevented the nbval tests fro

[2020-12-15 05:32] cornhundred commented on #61
Hi, I have a question about the license. We made a widget using this cookiecutter (https://github.com/ismms-himc/clustergrammer2) and are using this BSD 3-clause license from this repo. However, would the licensing rules allow us to to modify the license of our widget made using this cookiecutter (e.g. to MIT to be consistent with our other projects under the Clustergrammer umbrella) or is the wid

[2020-12-15 06:25] jasongrout commented on #61
I think it makes sense to have cookiecutters like this to not have any license on the generated output, e.g., CC0 public domain.

[2020-12-15 06:26] jasongrout commented on #61
(which is what I was getting at in my [comment above](https://github.com/jupyter-widgets/widget-ts-cookiecutter/issues/61#issuecomment-598425757)

[2020-12-17 04:21] cornhundred commented on #61
Hi authors, @jasongrout @blink1073 @jtpio @martinRenou @astrofrog @JoaoFelipe (hope I'm not missing anyone) - would you all be alright if we changed the license of a widget that was built using this cookiecutter to MIT (https://github.com/ismms-himc/clustergrammer2)? I tend to agree with @jasongrout about the outputs of the cookiecutter not having a license. Thanks for making a great cookiecutter!

[2020-12-17 05:29] jasongrout commented on #61
For the record, I'm okay with the output of this cookie cutter having MIT or even CC0 license.

[2020-12-21 17:34] cornhundred commented on #61
Thanks @jasongrout, we plan on transitioning to an MIT license for our widget produced from this cookiecutter. Please let us know if there are any concerns or objections from the other authors of the cookiecutter.

[2021-01-23 15:24] anant-k-singh opened #87 "Upgrade the packages in template"
It would be great if this template could use the latest version of all npm packages, specially the new **@jupyter-widgets/base v4**

[2021-01-27 16:48] jtpio commented on #87
Thanks @anant-k-singh.

I think this will be fixed by https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/83.

[2021-01-27 17:32] jtpio opened #88 "Switch to GitHub Actions"
And drop Travis, to follow the setup of the other repo: https://github.com/jupyter-widgets/widget-cookiecutter

[2021-02-01 22:57] jasongrout commented on #87
Yes, let's consolidate discussion over there.

[2021-02-01 22:57] #87 closed

[2021-02-03 04:42] willeppy opened #89 "Example not working in Jupyter lab"
I cannot get the default code to run in Jupyter lab. However it shows up just fine in Jupyter notebook.

### Description

I copied the cookie cutter to my local machine and then ran the below to install:

[code]

I made no changes to the source files. However the example does not work in Jupyter lab for me

<img width="748" alt="nb" src="https://user-images.githubusercontent.com/13400543/106698808

[2021-02-03 09:27] jasongrout commented on #89
This has not yet been updated for JupyterLab 3. That discussion and PR is over in #83

[2021-02-03 09:27] #89 closed

[2021-02-03 19:35] willeppy commented on #89
Ah didn't realize that wasn't merged in yet. Working great with jl2. Thanks!

[2021-03-02 15:52] ianhi opened #92 "Add js test and docs back to CI"
For now this PR skips tests and docs, just so we can have a basic workflow working for other PRs. But we should eventually add them back, and also check the generated workflow from the cookiecutter is also correct.

_Originally posted by @jtpio in https://github.com/jupyter-widgets/widget-ts-cookiecutter/issues/91#issuecomment-788748143_

[2021-03-02 15:53] #81 closed

[2021-03-02 16:00] jtpio commented on #92
Thanks @ianhi.

For the tests, which might be fixed by #86:

https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/78716a69743e65865e89d097c2a28437b9d62820/.github/workflows/build.yml#L61-L63

For the docs:

https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/78716a69743e65865e89d097c2a28437b9d62820/.github/workflows/build.yml#L65-L70

And for the generated cookiecutter workflo

[2021-03-02 16:34] jtpio commented on #81
Fixed by https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/91 which removed Travis

[2021-03-11 16:26] #92 closed

[2021-03-12 10:19] jtpio commented on #88
This was fixed in https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/91

[2021-03-12 10:19] #88 closed

[2021-03-12 10:23] jtpio commented on #44
The development instructions were recently slightly updated: https://github.com/jupyter-widgets/widget-ts-cookiecutter/tree/master/%7B%7Bcookiecutter.github_project_name%7D%7D#development-installation

There is also now a new custom widget tutorial in the `latest` docs for `ipywidgets`: https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Custom.html

@akloster do you think these two reso

[2021-03-18 18:20] JoelForamitti opened #94 "Development installation with virtual environment"
Hi everyone,

the readme only shows how to do the development installation in conda.

here is how i managed with virtualenvwrapper in linux, maybe it's worth adding to the readme!

1. Installing npm with yarn:
[code]
2. Creating a virtual environment
[code]
3. Installing the widget and adding the virtual environment as an IPython Kernel:
[code]
In jupyter lab, one can then select the `widget_dev`

[2021-03-18 18:41] ianhi commented on #94
Hi @JoelForamitti good point thanks!

Would you like to make a PR with changes that you feel would have helped you?

[2021-03-18 19:20] JoelForamitti commented on #94
@ianhi ok, i made a PR here: https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/95

[2021-03-23 15:58] marimeireles opened #96 "Should we update the version of TS used?"
I was looking into this repo to define my `tsconfig.json` options and we're using stuff from es2015, [see](https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/master/%7B%7Bcookiecutter.github_project_name%7D%7D/tsconfig.json).
Shouldn't we update to use the latest es2017?
Or this is fine and they mostly keep compatibility?

(I don't know much about TS stuff!)

[2021-04-01 15:41] ianhi opened #97 "Add a visual regression test using Galata"
Using https://github.com/jupyterlab/galata

Examples:
https://github.com/jupyter-widgets/ipywidgets/pull/3172
https://github.com/bqplot/bqplot/pull/1311

[2021-04-13 16:57] yGuy commented on #44
I basically ran into the same issues. I followed the guide for the development instructions, but it seems the watcher is only updating the files in the `nbextension` whereas the documentation seems to favor using `jupyter lab` which uses `labextension` which does *not* get updated when the code changes. So basically the watch and reload cycle is not working.

Can someone confirm? Using "jupyter la

[2021-04-13 19:22] ianhi commented on #44
Hi @yGuy you're right that the watch command for jlab is not working. I think it got accidentally deleted from package.json when this repo was updated to jlab3. If you add `"watch:labextension": "jupyter labextension watch ."` to the scripts section of package.json then it should work as the documentation intends.

PR adding that here: https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull

[2021-04-28 05:15] travigd opened #101 "jupyter-packaging pinning is broken"
This cookiecutter pins the version of `jupyter_packaging` but this breaks because JupyterLab wants to use a different version.

https://github.com/travigd/ipydraw/runs/2454430067?check_suite_focus=true#step:7:305

[2021-04-28 07:09] jtpio commented on #101
Thanks @travigd for the report.

Looks like we might need to apply a similar update as in https://github.com/jupyterlab/extension-cookiecutter-ts/pull/143

[2021-05-02 22:04] amirebrahimi opened #102 "Add support for firing one-time events when observing"
I have a frequent pattern that comes up time and again and think it would be helpful to have this supported in the API:
[code]

^-- the above is a hack and I would much prefer a way to have a signal automatically come when subscribing
or, optionally, a way to manually trigger an event, so that anything that depends on initial state can get updated.

[2021-05-03 04:07] ianhi commented on #102
Hi @amirebrahimi I agree that eager execution of a callback for initalization would be a useful feature. However, I think the place to ask for this is over on https://github.com/ipython/traitlets as the `observe` function is inherited from `traitlets.HasTraits` https://traitlets.readthedocs.io/en/stable/api.html#traitlets.HasTraits.observe

Also, in general for feature requests for widgets you pro

[2021-05-03 04:07] #102 closed

[2021-07-13 00:20] Crushellini commented on #89
I've been experiencing this issue as well. Have there been any updates?

[2021-09-21 17:05] cabreraalex opened #105 "Building yarn package on install"
I was curious if people know why the setup.py builds the package on install:
https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/f8c4f1d2c61374811423eb724b9eb11c6e2f10b1/%7B%7Bcookiecutter.github_project_name%7D%7D/setup.py#L60

It looks like nbextension and labextension are both pre-built and bundled, so it isn't necessary to run `npm` and `build:prod` on install. This has also been br

[2021-09-24 10:49] blink1073 commented on #105
A short term fix is to us [`skip_if_exists`](https://github.com/jupyter/jupyter-packaging/blob/5bc28f82590eac9fa10062e970cee603ddc8c863/jupyter_packaging/setupbase.py#L371) to skip the npm build if one of the built files exists.  A better solution is to adopt the `jupyter_packaging` [backend](https://github.com/jupyterlab/extension-cookiecutter-ts/blob/2616165d31bfc80bbe29f6aa07316b7aabea0022/%7B%

[2021-09-27 17:15] cabreraalex commented on #105
Fix at #107

[2021-11-05 09:40] jtpio opened #109 "Update to the latest Jupyter Packaging"
We are still using `0.7.9` here:

https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/2b46d60c568922b97243eeffc97422dd0917e0d2/%7B%7Bcookiecutter.github_project_name%7D%7D/pyproject.toml#L2

And some of these `jupyter-packaging` have been deprecated.

[2021-11-27 13:32] LordHeImchen opened #111 "Cannot find module fs"
Hello guys,
I don't know if this issue is really widget-ts-cookiecutter related but i still think the best place to post it is here.
Recently i set up a widget-ts-cookiecutter to implement a PetriNet-Generator-Widget. I would like to use `fs` in order to read from and write to files. Unfortunately i cannot manage to import it correctly or initialize it by using the "require" statement.

What i tri

[2021-11-30 11:07] #111 closed

[2022-01-05 15:22] LordHeImchen opened #112 "Publishing custom JupyterWidget"
Hey guys,
I am trying to publish my custom jupyter widget following the steps you provide in the ReadMe.
Unfortunately when executing `twine check dist/*` i receive the following error message:

`Checking dist/UNKNOWN-0.0.0-py2.py3-none-any.whl: InvalidDistribution: Invalid distribution metadata. This version of twine supports Metadata-Version 1.0, 1.1, 1.2, 2.0, 2.1, and 2.2`

To be honest, i don

[2022-01-07 16:38] ianhi commented on #112
Hi @LordHeImchen can you give a link to your code to look at? What's being put as UNKNOWN should be determined by this line in setup.py: https://github.com/jupyter-widgets/widget-ts-cookiecutter/blob/0e0116cfc12fd61b18d89d17145031992373076b/%7B%7Bcookiecutter.github_project_name%7D%7D/setup.py#L29 so it'

[2022-01-07 16:40] ianhi commented on #112
This should be generated by the `python -m build` step - wheels (.whl) are basically zip files that pip uses to install packages so it makes sense that you can't read it

[2022-01-07 16:42] ianhi commented on #112
also are there any other files in the dist folder? if so what are their names?

[2022-01-07 16:45] adpatter commented on #112
I see the following files there when I run `jlpm run build`:
`[~/workspace/educational-technology-collective/etc_jupyterlab_distribution] (etc_jupyterlab_distribution)
$ ls dist
index.js  index.js.map`

[2022-01-07 16:47] adpatter commented on #112
The repo that I am working on is here:  https://github.com/educational-technology-collective/etc_jupyterlab_distribution

[2022-01-07 16:49] ianhi commented on #112
@adpatter can you try running

[code]

[2022-01-07 16:51] adpatter commented on #112
[code]

[2022-01-07 16:54] adpatter commented on #112
@ianhi  This is the result of `twine check dist/*`:

[code]

[2022-01-07 16:55] ianhi commented on #112
thanks. Can you post the outputs of the `python -m build` in full? You can make it collapseable with the details block: https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d

[2022-01-07 16:57] adpatter commented on #112
<details>
[~/workspace/educational-technology-collective/etc_jupyterlab_distribution] (etc_jupyterlab_distribution)
$ python -m build
* Creating venv isolated environment...
* Installing packages in isolated environment... (jupyter_packaging==0.7.9, jupyterlab==3.*, setuptools>=40.8.0, wheel)
* Getting dependencies for sdist...
/tmp/build-env-fo68wg7n/lib/python3.9/site-packages/setuptools/dist.py

[2022-01-07 16:58] adpatter commented on #112
@ianhi Please let me know if I can provide any further information.  Thank you.

[2022-01-07 17:07] adpatter commented on #112
As an aside, I get get the same result when I remove 'dev' from _version.py.

[2022-01-07 17:07] ianhi commented on #112
I can replicate the `UNKNOWN` wheel being generated with a freshly generated project from the cookeicutter so theres definitely a bug that's been introduced somewhere in the chain (or some change that broke this)

[2022-01-07 17:14] ianhi commented on #112
I wonder if this has something to do with:

[code]

`_in_process.py` is involved in the build backed: https://github.com/pypa/pip/blob/d01dd4aba73799e6fab87e360d61bf0fcc525115/src/pip/_vendor/pep517/in_process/_in_process.py

so it not being found is certainly not great

[2022-01-07 17:15] ianhi commented on #112
as a workaround it looks as though doing:

[code]

(the "old way") still works and avoids the issues with using build backends

[2022-01-07 17:26] adpatter commented on #112
[code]

@ianhi Should `index.js` be getting into `dist`?

[2022-01-07 17:39] ianhi commented on #112
is that maybe leftover from earlier? can you delete dist and then build the wheel?

[2022-01-07 17:41] adpatter commented on #112
Running `jlpm run build` puts `index.js` in `dist`.

[2022-01-07 17:41] adpatter commented on #112
I was able to build the wheel using the old method: `python setup.py sdist bdist_wheel`

[2022-01-07 17:42] adpatter commented on #112
It is published here: https://pypi.org/project/etc-jupyterlab-distribution/0.1.0/

[2022-01-07 17:46] adpatter commented on #112
@ianhi When I delete `dist` and build using the old method, I get the result in `dist`:

[code]

[2022-01-07 17:49] adpatter commented on #112
@ianhi When I install the package with `pip install etc_jupyterlab_distribution` and try to evaluate the widget, it shows:
`Error displaying widget: model not found`

If I build using the old method, is there anything else I need to do in order to get the widget to display?

[2022-01-07 17:56] adpatter commented on #112
@ianhi Thank you for all the help.  The widget is working perfectly.  Please let me know if there is anything I can do with regard to helping with the topic of this issue.  I will continue to monitor it.

[2022-01-07 17:57] LordHeImchen commented on #112
Hey guys,
in the meantime i was able to work around my issues. You can see how i solved it right [here](https://github.com/pypa/twine/issues/853#issuecomment-1006613812).

As a little conclusion for you guys:
1. First i had the problem that my wheel wasn't building correctly, which could be resolved by manually adding `include setup.py` in `MANIFEST.in`.
2. After that, `twine build dist/*` failed

[2022-01-07 17:58] adpatter commented on #112
For clarification, I built the package using the "old method" and removed the .js files from dist and then published the package.  Then I installed the package using pip and I installed ipywidgets using conda, and it worked.

[2022-01-10 12:27] #112 closed

[2022-05-25 20:50] cornhundred opened #116 "Custom Widget built from cookie cutter not working in Jupyter Lab 3.0"
Hi, I am having trouble getting a Jupyter Widget that was built by @thomasballinger using this template working in Jupyter Lab 3.0 (it works in Jupyter notebook)

I raised the issue [here](https://github.com/thomasballinger/observable-jupyter-widget/issues/3#issuecomment-1136388253) and I'll summarize below:

I'm seeing the following error when I try to open the widget in JupyterLab

523.92b431af1

[2022-10-14 11:51] LukPopp0 opened #118 "Unable to use different React version"
Hi,
I'm trying to write a Jupyter Widget that uses react based on this cookiecutter. I specifically need to use a certain version of react, however, even when installing a specific version, after building the widget, a different version is used in jupyterlab.
The react version that is installed in the node_modules folder is the version that I want to use and no other module has react as a dependen

[2022-10-19 12:23] jtpio commented on #109
Closing as the cookiecutter has now switched to `hatch`: https://github.com/jupyter-widgets/widget-ts-cookiecutter/pull/117

[2022-10-19 12:23] #109 closed

[2022-10-30 16:03] dou-du opened #120 "Local installation fine but published PyPi package is not working (for iwpwidgets >= 8.x) with the latest cookiecutter"
I am updating our widget with the new released cookiecutter for ipywidget 8.x.  I made it working with the development installation. However, after puslishing it to PyPi, the relasesed package seems not working and give error massages as:

[code]

Our Github repository is at:

https://github.com/osscar-org/widget-code-input

The newest release version is 3.5.3 (not working). Could you give some su

[2022-11-07 23:00] giovannipizzi commented on #120
Possible thing to check: when there are these issues, often it's because some non-python files are not installed on `pip install` (but are already in place with the `pip install -e` (editable) version, so one does not notice it. If you understand which files you are missing (and cause the issue), you should add them to the `MANIFEST.in` file so they get added. No need to publish on Pypi to test, o

[2022-11-17 09:44] renefritze opened #121 "Actions workflow broken for ubuntu"
I've created a new project from this cookiecutter (@ https://github.com/jupyter-widgets/widget-ts-cookiecutter/commit/82f4a6c9ecf5f775a63e48ef3dc567e835300783).
The build workflow for macOS and windows work, but ubuntu results in errors (because the linter is only run there).
[code]
https://github.com/pymor/pyvtkjs/actions/runs/3486974399/jobs/5834064436

Looks like there are some dirs [hardcoded]

[2022-11-17 10:11] renefritze commented on #121
[Just removing](https://github.com/pymor/pyvtkjs/pull/1/commits/6fd122f766c263859d52d22c1087bf78eac51806) the ` jupyter-widget-testwidgets` bits works for me.

[2022-11-22 08:11] hbredin commented on #61
I am currently working on [an audio annotation widget](https://twitter.com/hbredin/status/1588590580590080000?s=20&t=Xs0NyZW_6L4j-K3ZNPrDTA) based on this cookiecutter (which was VERY useful by the way :pray:).

@cornhundred's last message mentioned a possible transition to MIT license.
What is the status on this? IMHO, CC-0 would be even better for this kind of project -- I'd be happy to contribu

[2022-11-23 08:32] #121 closed